.profile-img{
          width: 55%;
          
          border-radius: 100%;
      
}

.middle-container2{
         
          display: flex;
          background-color: #58ACFA;
          color: yellow;
          margin: 45px ;
          border-radius: 20px;
}
/* .profile-row{
          
          right: 150px;
          
} */
.contract-details{
          display: flex;
}
@media  only screen and (max-width: 650px) {
          .profile-img{
                    width: 100px;
                    border-radius: 0;
                    height: 200px;
                    border-radius: 20px;
          }
          .middle-container2{
         
                    display: flex;
                    background-color: #50a8df;
                    color: rgb(179, 57, 190);
                    margin: 45px ;
                    padding: 1px 2px 13px 4px;
                    border-radius: 20px;
          }
          .image-div{
                    width: 100px;
          }
          .contract-details{
                    /* left: 6px; */
                    bottom: 30px;
                    padding: 5px 10px 20px 45px;
          }
          .contract-details p a:hover{
                    color: rgb(255, 81, 0);

          }
          .contract-details p a{
                    color: rgb(255, 0, 217);

          }
          .details{
                    padding: 5px 15px 0 32px;
          }
          
          .image-div{
                    padding-top: 5px;
          }
          .name{
                    font-size: 42px;
                    font-weight: I;

          }
          .pro-name{
                    font-size: 42px;
          }
          
}