.footer{
    text-align: center;
    opacity: 0.7;
    background-color: rgb(24, 255, 178);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
}
    .social-icon{
        margin: 2px 5px 1px 2px;
    }
    .copyright{
        padding-bottom: 1px;
        font-weight: bold;
        
        color: rgb(233, 51, 212);
    }     